
    $--white: #FFFFFF;
    $--black: #000000;
    $--dark: #232830;
    $--very-light-pink: #6d6d6d;
    $--text-input-field: #e9e9e9;
    $--hospital-green: #7ab381; 
    $--sm: 1.4rem;
    $--md: 1.6rem;
    $--lg: 1.8rem
