@import 'vars';

.OrderItem {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 1.6rem;
	margin-bottom: 2.4rem;
	align-items: center;
}

.close-item:hover{
	width: 1.6rem;
	height: 1.6rem;
	background-color: rgb(255, 0, 0, 0.4);
}

.OrderItem img {
	cursor: pointer;
}

.OrderItem figure {
	margin: 0;
}
.OrderItem figure img {
	width: 7rem;
	height: 7rem;
	border-radius: 2rem;
	object-fit: cover;
}
.OrderItem p:nth-child(2) {
	font-size: $--sm;
	color: $--very-light-pink;
}
.OrderItem p:nth-child(3) {
	color: var($--black);
	font-size: $--md;
	font-weight: bold;
}
