@import 'vars';

.ProductList {
	padding-top: 10rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, 220px);
	gap: 26px;
	place-content: center;
}
.BlockList{
	width: 100%;
	height: 5vh;
}

@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 145px);
	}
}
