@import 'vars';

.ProductItem {
	width: 24rem;
}
.ProductItem img {
	width: 24rem;
	height: 24rem;
	border-radius: 2rem;
	object-fit: cover;
	z-index: 1;
	cursor: pointer;
}

.ProductItem > img:first-of-type:hover {
	transition: .5s ease;
	backface-visibility: hidden;
	opacity: 0.9
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.2rem;
}
.product-info figure {
	margin: 0;
}
.product-info figure img {
	width: 3.5rem;
	height: 3.5rem;
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: $--md;
	margin-top: 0;
	color: $--black;
	margin-bottom: 0.4rem;
}
.product-info div p:nth-child(2) {
	font-size: $--sm;
	margin-top: 0;
	margin-bottom: 0;
	color: $--very-light-pink;
}

.container-Addto {
	background-color: transparent;
    border: none;
}

.container-Addto .addToCartItem{
	cursor: pointer;
	width: 3.7rem;
	height: 3.7rem;
}

.container-Addto .addToCartItem:hover{
	width: 3.9rem;
	height: 3.9rem;
}

@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 14rem);
	}
	.ProductItem {
		width: 14rem;
	}
	.ProductItem .APImage {
		width: 14rem;
		height: 14rem;
	}
	.container-Addto .addToCartItem{
		cursor: pointer;
		width: 3.7rem;
		height: 3.7rem;
	}
}
